.row
  .small-8.small-offset-2
    %h2 Register
    %hr
    = form_for(resource, :as => resource_name, :url => user_registration_path) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .field
        = f.label :username
        = f.text_field :username
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.submit 'Register', class: 'small button'
    = render 'devise/shared/links'    

