%h2 Styles

.section-container
  - for style in @styles
    %section.section
      %p.title
        = link_to style, admin_style_path(style)
.new-layout
  %fieldset
    %legend New Style
    = form_for :style, url: admin_styles_path do |f|
      .row
        .small-6.columns
          = f.label :name
          = f.text_field :name, placeholder: 'e.g. header_style or base'
      .row
        .small-12.columns
          = f.label :content
          = f.text_area :content, placeholder: 'HTML goes here...'
      .row
        .small-4.columns
          = f.submit 'Add', class: 'small button'
