%h2 
  %i.general.foundicon-compass
  Types

.section-container
  - for type in @types
    %section.section
      %p.title
        = link_to type.name.titleize, admin_type_path(type)
.new-property
  %fieldset
    %legend New Type
    = form_for :type, url: admin_types_path do |f|
      .row
        .small-4.columns
          = f.label :name
          = f.text_field :name, :placeholder => 'e.g. animal or beer or car'
      .row
        .small-4.columns
          = f.submit 'Add', class: 'small button'
