%h2 #{@type.name.titleize}

%fieldset
  %legend Properties
  .section-container.accordian{'data-section' => 'accordian'}
    - @type.properties.each_with_index do |property, ndx|
      %section.section
        %p.title
          = link_to property, "#panel#{ndx}"
        .content
          %p{'data-slug' => "panel#{ndx}"}
            = form_for property, url: admin_type_property_path(@type, property) do |f|
              - if property.enum?
                %p Possible: #{property.possible.join(", ")}
              .row
                .small-4.columns
                  = label :req, 'Required?', class: 'left'
                  = check_box :property, :req, {checked: property.req}, 'true', 'false'
              .row
                .small-4.columns
                  = f.submit 'Update Property', class: 'tiny button'
              .row
                .small-4.columns
                  = link_to 'Remove', admin_type_property_path(@type, property), method: :delete, class: 'tiny button secondary'

%fieldset
  %legend New Property
  = form_for :property, url: admin_type_properties_path(@type) do |f|
    .row
      .small-4.columns
        = f.label :name
        = f.text_field :name
    .row
      .small-4.columns
        = f.label :kind
        = select(:property, :kind, Property::KINDS.collect { |k| [k.capitalize, k] })
    .row.type-possible(style='display: none;')
      .small-4.columns
        = f.label :possible, 'Possible values(for enum type)'
        = f.text_field :possible, placeholder: 'comma seperated'
    .row
      .small-4.columns
        = f.submit 'Add', class: 'small button'

%fieldset
  %legend Settings
  = form_for @type, url: admin_type_path(@type) do |f|
    .row
      .small-4.columns
        = f.label :layout_id
        = f.select :layout_id, Layout.all.collect { |l| [l.name, l.id] }, 
                      selected: @type.layout ? @type.layout.id : '', 
                      include_blank: true
    .row
      .small-4.columns
        = f.label :primary_property, 'Primary Property'
        = f.select :primary_property, @type.properties.collect(&:name),
                    selected: @type.primary_property,
                    include_blank: false
    .row
      .small-4.columns
        = f.submit 'Update', class: 'small button'
