%h1 #{@type.name}: #{@type.entities.count}

%table
  %tr
    - for prop in @type.properties
      %td #{prop}
    %td Path
    %td Visit
    %td Edit
    %td Remove
  - for entity in @type.entities
    %tr
      - for prop in @type.properties
        %td #{entity.values[prop.to_s]}
      - if entity.default_path
        %td= link_to 'Visit', cms_page_path(entity.default_path)
      - else
        %td -
      %td= entity.default_path || 'Path not set'
      %td= link_to 'Edit', admin_entity_path(@type, entity)
      %td= link_to 'Remove', admin_destroy_entity_path(@type, entity), method: :delete

.new-entity
  = form_for :entity, url: admin_create_entity_path(@type) do |f|
    - for prop in @type.properties
      .field
        = f.label "values[#{prop.name}]", "#{prop.name.capitalize}"
        = f.text_field "values[#{prop.name}]"
        - if prop.required?
          (required)

    = f.submit 'Create'

