%h2 #{@type.plural_name}

%table
  %thead
    %tr
      - for prop in @type.properties
        %td{ :class => "#{prop.primary? ? 'primary' : ''}" } #{prop}
      %td Path
      %td Visit
      %td Edit
      %td Remove
  %tbody
  - for entity in @entities
    %tr
      - for prop in @type.properties
        %td{ :class => "#{prop.primary? ? 'primary' : ''}" } #{entity.values[prop.to_s]}
      %td= entity.default_path || 'Path not set'
      - if entity.default_path
        %td= link_to 'Visit', cms_page_path(entity.default_path)
      - else
        %td -
      %td= link_to 'Edit', admin_entity_path(@type.name, entity)
      %td= link_to 'Remove', admin_destroy_entity_path(@type, entity), method: :delete

.new-entity
  %fieldset
    %legend New #{@type.name.titleize}
    = form_for :entity, url: admin_create_entity_path(@type) do |f|
      - for prop in @type.properties
        .row
          .small-4.columns
            = f.label "values[#{prop.name}]", "#{prop.name.capitalize}  #{prop.required? ? '(required)' : ''}", class: "#{prop.primary? ? 'primary' : ''}"
            - if prop.text?
              = f.text_area "values[#{prop.name}]"
            - elsif prop.enum?
              = select(:entity, "values[#{prop.name}]", prop.possible.collect { |val| [val, val]})
            - elsif prop.image?
              = select(:entity, "values[#{prop.name}]", Image.all.collect { |img| [img.name, img.id] })
              
            - else
              = f.text_field "values[#{prop.name}]"
      .row
        .small-4.columns
          = f.submit 'Create', class: 'small button'
