%h2 Layouts

.section-container
  - for layout in @layouts
    %section.section
      %p.title
        = link_to layout, admin_layout_path(layout)
.new-layout
  %fieldset
    %legend New Layout
    = form_for :layout, url: admin_layouts_path do |f|
      .row
        .small-6.columns
          = f.label :name
          = f.text_field :name, placeholder: 'e.g. base or header or beer_info'
      .row
        .small-12.columns
          = f.label :content
          = f.text_area :content
      .row
        .small-4.columns
          = f.submit 'Add', class: 'small button'
