!!!
%html
  %head
    %title ZenCMS::Admin
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1= link_to ZenConfig.instance.admin_title, admin_dashboard_path
      .top-bar-section
        %ul.right
          %li
            = link_to 'Visit Site', '/'
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete
    .content
      .row
        .large-9.push-3.columns
          - flash.each do |name, msg|
            = content_tag :div, class: "alert-box #{name}" do
              = msg
              %a.close(href='#') &times;
          = yield
        .large-3.pull-9.columns.left-nav
          .section-container.options
            - for pair in [['Types', admin_types_path, 'general foundicon-compass'], ['Collections', admin_collections_path, 'general foundicon-folder'], ['Layouts', admin_layouts_path, 'general foundicon-website'], ['Styles', admin_styles_path, 'accessibility foundicon-fontsize'], ['Javascripts', admin_scripts_path, 'general foundicon-tools'], ['Images', admin_images_path, 'general foundicon-photo'], ['Static Pages', admin_statics_path, 'general foundicon-page'], ['Users', admin_users_path, 'general foundicon-address-book'], ['Config', admin_config_path, 'general foundicon-settings']]
              %section.section
                %p.title
                  = link_to pair[1], class: "#{request.env['PATH_INFO'].include?(pair[1]) ? 'active' : ''}" do
                    %i{ :class => pair[2] }
                    = pair[0]
          .section-container.types
            - for type in @types do
              %section.section
                %p.title
                  = link_to admin_entity_list_path(type.name) do
                    /%i.general.foundicon-laptop
                    = type.plural_name
    .footer
      .row
        %p &copy; ZenCMS 2013
