!!!
%html
  %head
    %title ZenCMS::Admin
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body
    .admin-nav
      = link_to 'Types', admin_types_path
      = link_to 'Collections', admin_collections_path
      = link_to 'Layouts', admin_layouts_path
      = link_to 'Styles', admin_styles_path
      = link_to 'Users', admin_users_path
      = link_to 'Config', admin_config_path
      - for type in @types do
        = link_to type, admin_entity_list_path(type.name)
      = link_to 'Logout', destroy_user_session_path, method: :delete
    = yield
    %p &copy; ZenCMS 2013
