!!!
%html
  %head
    %title ZenCMS::Admin
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1= link_to 'ZenCMS Admin', admin_dashboard_path
      .top-bar-section
        %ul.right
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete
    .content
      .row
        .large-9.push-3.columns
          = yield
        .large-3.pull-9.columns.left-nav
          .section-container.options
            - for pair in [['Types', admin_types_path], ['Collections', admin_collections_path], ['Layouts', admin_layouts_path], ['Styles', admin_styles_path], ['Javascripts', admin_scripts_path], ['Images', '#'], ['Static Pages', admin_statics_path], ['Users', admin_users_path], ['Config', admin_config_path]]
              %section.section
                %p.title= link_to pair[0], pair[1]
          .section-container.types
            - for type in @types do
              %section.section
                %p.title= link_to type.plural_name, admin_entity_list_path(type.name)
    .footer
      .row
        %p &copy; ZenCMS 2013
